body {
  font-family: "Roboto-Mono",monospace;ein-height: 600px;
  background-image:url('https://i.postimg.cc/J4F4bThf/340-pai2348.jpg') ;
  color: black;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
 
   
    
  }
}